# --- ArcGIS Online ---
AGOL_ORG_URL=https://sfgov.maps.arcgis.com
AGOL_CLIENT_ID=your_agol_app_client_id
AGOL_CLIENT_SECRET=your_agol_app_client_secret

# --- ArcGIS Enterprise ---
ENTERPRISE_PORTAL_URL=https://gis.yourcity.gov/portal
ENTERPRISE_SERVER_URL=https://gis.yourcity.gov/server
ENTERPRISE_USERNAME=service_account
ENTERPRISE_PASSWORD=change_me

# --- Server ---
PORT=3000
